@tailwind base;
@tailwind components;
@tailwind utilities;

.cont {
  /*background-color: #D9DBE1;*/
  background-color: #dde5ea;
  min-height: 100vh;
}

.gene-pair {
  display: inline-block;
}

.gene-select {
  border-color: #ced0d4;
  border-width: 0.5px;
}

.result-container {
  background-color: #ffffffa0;
}

.bunny-container {
  background-color: #ffffff3b;
}

.copyright-text {
  color: #bdcbd4eb;
}
