@tailwind base;
@tailwind components;
@tailwind utilities;


.cont {
  background-color: #dee6eb;
  min-height: 100vh;
}

.bunny-img {
  width: 200px;
}

.gene-pair {
  display: inline-block;
}

.gene-select {
  border-color: #ced0d4;
  border-width: 0.5px;
}

.row {
  width: 100%;
}

.result-container {
  background-color: #ffffffa0;
}