@tailwind base;
@tailwind components;
@tailwind utilities;

.cont {
  background-color: #dee6eb;
  min-height: 100vh;
}

.gene-pair {
  display: inline-block;
}

.gene-select {
  border-color: #ced0d4;
  border-width: 0.5px;
}

.result-container {
  background-color: #ffffffa0;
}

.copyright-text {
  color: #91a1ac;
}